{% extends 'main/base.html' %}

{% block title %}
Heroes
{% endblock %}

{% block content %}

	<h1>List of heroes</h1>
	<div class="alert alert-black" role="alert">
 
  <p class="mb-2" style="font-size:150%;";>Heroes</p>

  <hr>
  <p style="font-weight:bolder";>Doomfist</p>
  <p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/0/0e/Doomfist_portrait.png/revision/latest/scale-to-width-down/699?cb=20180319192013&path-prefix=ru height=160px/>Use a large variety of abilities to escape, gain mobility, or disrupt opponent's positions.</p>
  <hr>
  <p style="font-weight:bolder";>Mercy</p>
  <p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/5/54/%D0%90%D0%BD%D0%B3%D0%B5%D0%BB.png/revision/latest?cb=20160920153404&path-prefix=ru height=160px>Survive as long as possible to gain access to Valkyrie and turn the tides of battle.
 </p>
  <hr>
  <p style="font-weight:bolder";>Zarya</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/d/d1/Zarya_portrait.png/revision/latest?cb=20180319191802&path-prefix=ru height=160px>Utilize self barrier to prevent disruption and damage from Blackhole, then use Graviton Surge to trap someone.</p>
<hr>
<p style="font-weight:bolder";>Winston</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/4/42/Winston_portrait.png/revision/latest?cb=20180319191944&path-prefix=ru height=160px>Jump around the map avoiding the Blackhole and place shield to protect yourself.</p>
<hr>
<p style="font-weight:bolder";>Brigitte</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/3/30/Brigitte_portrait_2.png/revision/latest?cb=20180628200622&path-prefix=ru height=150px>Take use both of your Shield bash and Whip shot to stun opponents and throw them across the map while protecting yourself by Barrier shield.</p>
<hr>
<p style="font-weight:bolder";>Bastion</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/6/6a/Bastion_portrait.png/revision/latest?cb=20180319191617&path-prefix=ru height=160px>Damage yourself by the Blackhole to gain ultimate charge from Self-repair and then activate Configuration:tank to fly over map and sow chaos.</p>
<hr>
<p style="font-weight:bolder";>Pharah</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/d/d3/%D0%A4%D0%B0%D1%80%D1%80%D0%B0_%D0%9F%D0%BE%D1%80%D1%82%D1%80%D0%B5%D1%82.png/revision/latest?cb=20161107093200&path-prefix=ru height=160px>Use a kit of movement abilities like Jump jet, rocket jump technique to fly upwards and Barrage to hold still  in the air for a few seconds.</p>
<hr>
<p style="font-weight:bolder";>Reinhardt</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/c/c7/Reinhardt_portrait.png/revision/latest?cb=20180319191132&path-prefix=ru height=160px>Take advantage of moving faster than other heroes and unpredictably catch them with the Earth shatter
.</p>
<hr>
<p style="font-weight:bolder";>Orisa</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/f/f9/Orisa_portrait.png/revision/latest?cb=20180319191914&path-prefix=ru height=160px>Pull opponents into the Blackhole using Halt! and Fortify yourself to become protected from danger.</p>
<hr>
<p style="font-weight:bolder";>Sigma</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/a/a0/%D0%A1%D0%B8%D0%B3%D0%BC%D0%B0.png/revision/latest/scale-to-width-down/621?cb=20200517152157&path-prefix=ru height=160px>Shield yourself with Experimental barrier and Kinetic grasp, then send enemies to the sky using Gravitic flux 
.</p>
<hr>
<p style="font-weight:bolder";>Torbjörn</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/f/f6/%D0%A2%D0%BE%D1%80%D0%B1%D1%8C%D0%BE%D1%80%D0%BD_%D0%9F%D0%BE%D1%80%D1%82%D1%80%D0%B5%D1%82.png/revision/latest?cb=20160920155214&path-prefix=ru height=160px> Ruuuuuuuun.</p>
<hr>
<p style="font-weight:bolder";>Junkrat</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/5/53/Junkrat_portrait.png/revision/latest/scale-to-width-down/545?cb=20160429040823 height=190px>Carefully place your Steel trap to catch someone off guard and use your Concussive mine to jump into the air  and distract opponents.</p>
<hr>
<p style="font-weight:bolder";>Roadhog</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/c/c9/%D0%A2%D1%83%D1%80%D0%B1%D0%BE%D1%81%D0%B2%D0%B8%D0%BD.png/revision/latest?cb=20200508131749&path-prefix=ru height=150px> Sustain yourself with Take a breather long enough to get rid off other competitors and hook low HP heroes into the Blackhole.
</p>
<hr>
<p style="font-weight:bolder";>Ana</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/f/fd/Ana_portrait.png/revision/latest/scale-to-width-down/448?cb=20180319191512&path-prefix=ru height=160px>Be precise with your Sleeping darts, because every single of them can equal a frag.
</p>
<hr>
<p style="font-weight:bolder";>Baptiste</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/1/1c/Baptiste_Portrait.png/revision/latest/scale-to-width-down/502?cb=20200326145408 height=160px>Jump over the roofs using your Exo boots, save yourself from dire situations with Immortality field and restore your HP using Regenerative burst.
</p>
<hr>
<p style="font-weight:bolder";>Zenyatta</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/f/f5/Zenyatta_portrait.png/revision/latest?cb=20180319191545&path-prefix=ru height=160px> Become invulnerable using Transcendence and put Orb of discord on targets being chased by the Blackhole.</p>
<hr>
<p style="font-weight:bolder";>Mei</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/3/3b/Mei_portrait.png/revision/latest?cb=20180319191830&path-prefix=ru height=160px> Close the passages with unpredictable Ice walls and buy yourself extra time using Cryo-freeze.
</p>
<hr>
<p style="font-weight:bolder";>Ashe</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/c/c1/Ashe_portrait2.png/revision/latest/scale-to-width-down/878?cb=20181106125518 height=180px>Utilize your Coach gun wisely pushing opponents over the edge, sending yourself into the air and call B.O.B for additional disruption.
</p>
<hr>
<p style="font-weight:bolder";>D.Va</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/d/dc/Dva_portrait.png/revision/latest?cb=20180319191247&path-prefix=ru height=180px>Use the greatly empowered momentum of your Boosters to push enemies from the map and protect yourself from danger using Defensive matrix.
</p>
<hr>
<p style="font-weight:bolder";>Moira</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/a/a8/Moira_portrait.png/revision/latest?cb=20180319191330&path-prefix=ru height=150px>Fade away from the sight of your opponents and the Blackhole while sustaining yourself with Biotic orb.
</p>
<hr>
<p style="font-weight:bolder";>Wrecking ball</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/8/83/WreckingBall_portrait.png/revision/latest?cb=20190114232714 height=130px>Utilize Grappling hook to take position in the air, Adaptive shield for moments of danger and Minefield to create chaos. 
</p>
<hr>
<p style="font-weight:bolder";>Reaper</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/e/ee/Reaper_portrait.png/revision/latest?cb=20180319190940&path-prefix=ru height=170px>Escape danger and move faster using Wraith form, reposition yourself and catch opponents off guard with Shadowstep.
</p>
<hr>
<p style="font-weight:bolder";>Mccree</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/f/f3/Mccree_portrait.png/revision/latest?cb=20180319191645&path-prefix=ru height=170px>Roll around and stun enemies being chased by the Blackhole.</p>
<hr>
<p style="font-weight:bolder";>Lúcio</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/6/60/Lucio_portrait.png/revision/latest?cb=20180319191720&path-prefix=ru height=170px>Take advantage of your uncontestable speed and Wall ride to distract your opponents while booping them from the map and into the Blackhole.</p>
<hr>
<p style="font-weight:bolder";>Sombra</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/4/4e/%D0%A1%D0%BE%D0%BC%D0%B1%D1%80%D0%B0.png/revision/latest/scale-to-width-down/518?cb=20180315191049&path-prefix=ru height=170px>Make your opponents know the true definition of scam  by hacking them and then slipping away in crucial moments with your Translocator.</p>
<hr>
<p style="font-weight:bolder";>Tracer</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/9/9f/%D0%A2%D1%80%D0%B5%D0%B9%D1%81%D0%B5%D1%80_%D0%9F%D0%BE%D1%80%D1%82%D0%B5%D1%80%D1%82.png/revision/latest?cb=20160830192645&path-prefix=ru height=170px>Pull the Blackhole on you with blinks and then send it to chase someone by recalling.</p>
<hr>
<p style="font-weight:bolder";>Echo</p>
<p style ="font-style: italic"><img src=https://static.wikia.nocookie.net/overwatch/images/5/53/Echo_portrait.png/revision/latest/scale-to-width-down/321?cb=20200319191425 height=200px>Creatively use Duplicate for gaining abilities and strengths you need in certain situation and fly around while waiting for next copy.</p>
</div>


{% endblock %}



